main {
    height: 100vh;
    width: 100% !important;

    /* Image background */
    background-image: url("../res/main_image/main-320.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /* Overlay */
    display: flex;
    align-items: center;

}

main h2 a {
    font-size: 2em;
    color: var(--background);
    margin-left: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-decoration: none;
    display: inline-block;
    backdrop-filter: blur(0px);

    transition: transform 0.3s, padding 0.3s, backdrop-filter 0.3s, box-shadow 0.3s;
}

main h2 a:hover {
    /*     transform: translate(0, -0.5em);
 */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.1);

    /*     padding-bottom: 1.5em;
 */
}

/* Mobile */
@media screen and (max-width: 600px) {
    main h2 a {
        padding: 0.25em 0.5em;
        margin: 0;
    }

    main {
        height: 100vh;
    }
}

/* Image background */
@media (min-width: 321px) and (max-width: 480px),
(orientation: portrait) and (min-height: 321px) and (max-height: 480px) {
    .div-background {
        background-image: url('../res/main_image/main-480.webp');
    }
}

/* Image background */
@media (min-width: 481px) and (max-width: 640px),
(orientation: portrait) and (min-height: 481px) and (max-height: 640px) {
    main {
        background-image: url('../res/main_image/main-640.webp');
    }
}

@media (min-width: 641px) and (max-width: 800px),
(orientation: portrait) and (min-height: 641px) and (max-height: 800px) {
    main {
        background-image: url('../res/main_image/main-800.webp');
    }
}

@media (min-width: 801px) and (max-width: 1024px),
(orientation: portrait) and (min-height: 801px) and (max-height: 1024px) {
    main {
        background-image: url('../res/main_image/main-1024.webp');
    }
}

@media (min-width: 1025px) and (max-width: 1280px),
(orientation: portrait) and (min-height: 1025px) and (max-height: 1280px) {
    main {
        background-image: url('../res/main_image/main-1280.webp');
    }
}

@media (min-width: 1281px) and (max-width: 1600px),
(orientation: portrait) and (min-height: 1281px) and (max-height: 1600px) {
    main {
        background-image: url('../res/main_image/main-1600.webp');
    }
}

@media (min-width: 1601px) and (max-width: 1920px),
(orientation: portrait) and (min-height: 1601px) and (max-height: 1920px) {
    main {
        background-image: url('../res/main_image/main-1920.webp');
    }
}

@media (min-width: 1921px) and (max-width: 2560px),
(orientation: portrait) and (min-height: 1921px) and (max-height: 2560px) {
    main {
        background-image: url('../res/main_image/main-2560.webp');
    }
}

@media (min-width: 2561px) and (max-width: 3840px),
(orientation: portrait) and (min-height: 2561px) and (max-height: 3840px) {
    main {
        background-image: url('../res/main_image/main-3840.webp');
    }
}

@media (min-width: 3841px),
(orientation: portrait) and (min-height: 3841px) {
    main {
        background-image: url('../res/main_image/main.webp');
    }
}