/* Style par défaut pour le fond */
main {
    height: 100vh;
    width: 100% !important;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    /* Image par défaut (basique pour éviter le chargement inutile) */
    background-image: url('../res/main_image/main-720.webp');
    
    /* Overlay */
    display: flex;
    align-items: center;
}

main h2 a {
    font-size: 2em;
    color: var(--background);
    margin-left: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    text-decoration: none;
    display: inline-block;
    backdrop-filter: blur(0px);
    transition: transform 0.3s, padding 0.3s, backdrop-filter 0.3s, box-shadow 0.3s;
}

main h2 a:hover {
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.1);
}

/* --- Mobile et tablette en orientation portrait --- */
@media screen and (max-width: 600px) and (orientation: portrait) {
    main {
        background-image: url('../res/main_image/main-720.webp'); /* Image optimisée pour petits écrans en portrait */
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    main {
        background-image: url('../res/main_image/main-1080.webp'); /* Pour tablettes ou grands mobiles en portrait */
    }
}

/* --- Mobile et tablette en orientation paysage --- */
@media screen and (max-width: 600px) and (orientation: landscape) {
    main {
        background-image: url('../res/main_image/main-1080.webp'); /* Image plus large pour petits écrans en paysage */
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    main {
        background-image: url('../res/main_image/main-1280.webp'); /* Image pour tablettes et grands mobiles en paysage */
    }
}

/* --- Écrans haute densité (Retina et autres) en portrait --- */
@media screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) and (orientation: portrait) {
    main {
        background-image: url('../res/main_image/main-1080.webp'); /* Pour mobiles haute résolution en portrait */
    }
}

/* --- Écrans haute densité (Retina et autres) en paysage --- */
@media screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) and (orientation: landscape) {
    main {
        background-image: url('../res/main_image/main-1280.webp'); /* Pour mobiles haute résolution en paysage */
    }
}

/* --- Pour les tablettes et grands écrans --- */
/* Portrait */
@media (min-width: 1025px) and (orientation: portrait) {
    main {
        background-image: url('../res/main_image/main-1920.webp'); /* Image pour grands écrans en portrait */
    }
}

/* Paysage */
@media (min-width: 1025px) and (orientation: landscape) {
    main {
        background-image: url('../res/main_image/main-2560.webp'); /* Image pour grands écrans en paysage */
    }
}
